body {
	background-color: black;
}
#naviBar ul,
#naviBar ul li,
#naviBar ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  position: relative;
}

#trickNavi,
#trickNavi p {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  width: 1280px;
  font-family: Helvetica, Arial black, sans-serif;
  background-color: #000000;
  position: relative;
  text-align: right;
  color:white;
  left:50%;
  margin-left: -640px;
  margin-top: -720px;
}

#trickNavi{
	height: 40px;
	opacity: 0.3;
}

#trickNavi p{
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#naviBar {
  width: 1280px;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
  position:relative;
  margin:0;
  padding:0;
  border:0;
  left:50%;
  margin-left: -640px;
  margin-top:-40px;
}

#naviBar:after,
#naviBar ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#naviBar ul li {
  float: left;
  display: block;
  border-right: 1px solid rgba(0, 0, 0, 0.22);
  z-index: 1;
}

#naviBar ul li a {
  display: block;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  z-index: 3;
}
#naviBar ul li a:hover,
#naviBar ul li.active a {
	color: #ff0000;
	opacity: 1;
  	transition-property: color;
	transition-duration: 0.5s;
	transition-timing-function: linear;
}
#naviBar ul li:hover,
#naviBar ul li.active {
	background-color: black;
	opacity: 0.7;
	transition-property: background-color;
	transition-duration: 0.5s;
	transition-timing-function: linear;
}

.container{
	width:1280px;
	height:720px;
	position: relative;
	left:50%;
	margin-left: -640px;
}
.slider_wrapper{
	overflow: hidden;
	position:relative;
	height:720px;
	top:auto;
}
#image_slider{

	position: relative;
	height: auto;
	list-style: none;
	overflow: hidden;
	float: left;
	/*Chrom default padding for ul is 40px */
	padding:0px;
	margin:0px;
}
#image_slider li{
	position: relative;
	float: left;
}
.nvgt{
	position:absolute;
	top: 320px;
	height: 100px;
	width: 60px;
	opacity: 0.6;
}
.nvgt:hover{
	opacity: 0.9;
}
#prev{
	background: #000 url('https://dl.dropboxusercontent.com/u/65639888/image/prev.png') no-repeat center;
	left: 0px;
}
#next{
	background: #000 url('https://dl.dropboxusercontent.com/u/65639888/image/next.png') no-repeat center;
	right: 0px;
}

audio {
	margin-top:645px;
	margin-left:430px;
}

h3 {
	font-size: 20px;
	font: arial;
	width: 1280px;
	padding-left:50%;
	margin-left: -600px;
	color:white;
}

.bs-example {
	width: 1800px;
	padding-left: 50%;
	margin-left: -600px;
}

hr {
	size:2;
	width:1280px;
	position: absolute;
	left:50%;
	margin-left:-640px;
}

#moreWords {
	width: 60%;
	margin-left: 5%;
	float: left;
}



footer div p,
footer div details summary {
	font-size: 10px;
	color:white;
	font-family: Arial, sans-serif;
}

#icon {
	float: left;
	padding-left: 180px;
}

#icon a img {
	width:225px;
	height: 90px;
}



